/** GLOBAL **/

$color-one: #ffffff;
$color-second: #fed136;
$color-third: #222222;

body{
    width: 1200px;
    justify-content: center;
}

/** NAVIGATION **/

.navbar p {
    position: fixed;
    top: 20px;

}

.navbar menu {

}

.navbar ul {
    display: inline;
    position: fixed;
    top: 20px;
}

.navbar li {
    display: inline;
    float: left;
    padding: 5px;
}