/** GLOBAL **/

$color-one: #ffffff;
$color-second: #ffd332;
$color-third: #222222;


body{
    max-width: 1024px;
    margin: auto;
}

.btn-one {
    background-color: $color-second;
    color: $color-one;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 170px;
    font-family: montserrat;
    font-weight: bold;

}


/** NAVIGATION **/

.navbar p {
    position: fixed;
    top: 20px;
    font-family: font-face;

}

.navbar .logo {
    padding-left: 20%;
    font-size: 20px;
    color: $color-second;

}

.navbar ul {
    display: inline;
    position: fixed;
    top: 30px;
    font-family: montserrat;
    font-size: 11px;
    font-weight: bold;
    right: 350px;
}

.navbar li {
    display: inline;
    padding: 10px;
    color: #f0f1f1;
}

/** SPLASH **/
.banner {
    background-image: url("/images/background.png");
    background-size: contain;
    background-blend-mode: darken;
    min-height: 512px;
    background-color: rgba(22, 20, 20, 0.527);

}

.banner-text {
    text-align: center;
    padding-top: 180px;
    color: $color-one;
}

.banner-text h1{
    font-family: lora;
    font-style: italic;
    font-weight: lighter;
}
.banner-text h2 {
    font-size: 50px;
    margin-top: 0;
    font-family: montserrat;
}

/** SERVICES **/

.services {
    text-align: center;
    padding-top: 50px;
}

.services h2{
    font-family: montserrat;
    font-weight: bold;
    font-size: 40px;
    margin: 0;
}

.services p {
    font-family: lora;
    font-style: italic;
    padding: 0;
    margin: 0;
    color: grey;
    
}

.services i {
    font-size: 40px;
    border: 3px $color-second solid;
    border-radius: 50%;
    color: $color-second;
    height: 80px;
    width: 80px;
    padding-top: 15px;
}

.body_services {
    padding: 30px;
}

.body_services h2 {
    font-size: 16px;
    padding: 5px;
}

.body_services p {
    font-size: 12px;
    padding: 5px;
}